.header {
    box-sizing: border-box;
    position: relative;
    padding: 45px 200px 0;
}
.header__line {
    margin: 0;
    height: 0;
    opacity: 0.7;
    border: 1px solid #545454;
}
@media (min-width: 471px) and (max-width: 1120px) {
    .header {
        padding: 36px 95px 0;
    }
}
@media (min-width: 320px) and (max-width: 470px) {
    .header {
        padding: 28px 19px 0;
    }
}