.modal {
    margin: 0;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    font-family: "Inter", "Arial", sans-serif;
    line-height: 1.2;
    font-weight: 400;
}
.modal_opened {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__area {
    min-width: 282px;
    display: grid;
    grid-template-columns: 33px auto 33px;
    grid-template-rows: 33px auto 33px;
}
.modal__content {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.15);
    margin: 0 auto;
    padding: 36px;
    max-width: 358px;
    grid-column-start: 2;
    grid-row-start: 2;
}
.modal__title {
    font-weight: 900;
    font-size: 24px;
    margin: 0 0 28px;
}
.modal__close-button {
    border: none;
    background-color: rgba(0,0,0,0);
    height: 33px;
    width: 33px;
    background-image: url("../images/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: opacity 0.5s ease;
    grid-column-start: 3;
    grid-row-start: 1;
}
.modal__close-button:hover {
    opacity: 0.6;
}
@media (min-width: 751px) and (max-width: 1120px) {
    .modal__close-button {
        height: 26px;
        width: 26px;
    }
    .modal__title {
        font-size: 23px;
        margin: 0 0 37px;
    }
}
@media (min-width: 320px) and (max-width: 750px) {
    .modal__area {
        grid-template-columns: auto;
        justify-items: end;
    }
    .modal__content {
        max-width: 238px;
        padding: 25px 22px;
    }
    .modal__title {
        font-size: 18px;
        margin: 0 0 46px;
    }
    .modal__close-button {
        grid-column-start: 2;
        height: 20px;
        width: 20px;
    }
}